 
*{  
    margin: 0;/* Reset de pagina */
    padding: 0; /* Reset de pagina */
    box-sizing: border-box ;

}
body {
    background-image: url('./Imagenes/fondo.jpg'); /* Imagen de fondo */
    background-size:110%; /* Tamaño de imagen */
    font-family: 'Life Savers', cursive; /* Tipografia*/ 
    }
.menu {
    font-family: 'Life Savers', cursive; /* Tipografia*/ 
    color: white;
    padding: 0 70px ;
    
    } 
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    } 


.listas {  
    list-style: none;
    display: inline-block; /* Alineado de elementos, espacio entre palabras.*/
    text-decoration: none;
    text-align: center;
    background-color:#F50087;/* Color del fondo del boton */
    font-family: 'Life Savers', cursive;
    font-size: 18px;
    padding: 5px 5px;
    border: 0;
    border-radius: 10px; /* Redondeo del borde */
}

nav ul li {  
    
    margin-top: 14px;
    text-decoration: underline;/* Sin subrayado */
    
}

a {  
    color: rgb(255, 0, 191);/* Color de letras del navbar */
    text-decoration: none; 
}



/* Centrado de parrafos */
.parrafo {    
    display: flex; /* Flexbox */
    display: inline-block; /* Elementos en linea */
    align-items: center; /* Centrado */
    justify-content: center; /* Centrado */
    margin-top: 40px; /* Margen arriba */
    margin-left: 110px; /* Margen izquierdo */
    margin-right: 110px; /* Margen derecho */
    padding: 10px; /* Espacio entre borde y contenido */
    font-family: 'Life Savers', cursive; /* Tipografia*/
    color: white; /* Color de la letra*/
    background-color: black; opacity: 0.8; /* Color del fondo y opacidad */
    border-color: black; /* Color del borde */
    border-width: 1px; /* Tamaño del borde */
    border-style: solid; /* Borde de linea */
    line-height: 1.5em; /* Interlineado */
    text-align: center; /* alineado del texto */
    text-indent: 2em; /* Sangria al principio del parrafo */
}

.parrafo:hover   {
    background-color: black; opacity: 1; /* Opacidad al pasar el mousse */
}

/* Limitacion de las imagenes */
div{ 
     display: flex;
     width: 100%;
     height: 400px;
     margin: auto;
     margin-top: 40px;
     margin-bottom: 1px;
}
 /* Opacidad, transicion de la imagen sin acercar el mousse */
 div img{ 
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;

}
/* Como se comporta la imagen al pasar el mousse */
div img:hover { 
     cursor: crosshair;
     width: 300px;
     opacity: 1;
     filter: contrast(120%);
}


audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: rgb(255, 0, 191);
}
.tituloForm {
    color: white;
    margin-top: 10px;
    margin: 5px;
    border-style: dotted;
    border-radius: 50px;
    border-width: 5px;
    opacity: .8;
    background-color: rgb(255, 0, 191);
    display: flex;
    justify-content: center;
    align-items: center;
  }


form {
    color: rgb(255, 0, 191);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; opacity: 1;
    padding: 10px;
}



#parrafoCambiante { 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.botonAcceder { 
    margin-left: 450px;
    padding: 5px 5px;
    border: 0;
    border-radius: 10px;
}



/* Estilo al pie de pagina */
footer { 
    background-color: black; 
    border-width: 1px;
    border-style: solid;
    color: white;
    text-align: center;
}




/* Responsive Desing */

@media only screen and (max-width: 768px) 
{
    /* Estilos para pantallas pequeñas */
    body {
      background-size: cover; /* Ajusta el tamaño de fondo para pantallas pequeñas */
    }
  
    .menu {
      padding: 0 20px; 
      display: flex;
    align-items: center;
    justify-content: center;
    }
}
